
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
th,td{
        border: 3px solid black;
        
        width: 80%;
        text-align: left;
    }
    #blogtable{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        border-collapse: collapse;
      
        width: 100%;
      
      margin-top: 200px;
    }
    table{
        margin:0 auto;
    }
    th{
        background-color: cornflowerblue;
        text-align: left;
        width: 20%;
        font-size: 25px;

    }
    tr{
        width: 100%;
        justify-content: center;
    }
    
</style>
<body>
    <%- include('navbar') %>
    <table id="blogtable">
        <thead>
        <tr>
            <th>SN</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
   
  <tbody>
    <% var sn=1 %>
    <% allBlogs.forEach(blog=>{%>
        
        <tr>
           <td><%= sn++ %></td>
           <td><%=blog.title%></td>
           <td><%=blog.subTitle%></td>
           <td><%=blog.description%></td>
           <td><%=blog.imageUrl%></td>
        </tr>
   <%});%>

   
  </tbody>
</table>
    <%- include('footer') %>
</body>

</html>
<script>

</script>